<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Micro Vendas</title>
</head>
<body>
    {% if user.is_authenticated %}
        {% include "partials/navbar.html" %}
        {% if not user.empresa_set.exists %}
            <p>
                Você precisa estar vinculado à uma empresa
            </p>
        {% else %}
            Minha loja: {{ user.empresa_set.first }}
        {% endif %}
    {% endif %}
    {% include "partials/messages.html" %}
    {% block content %}{% endblock content %}
</body>
</html>